@charset "utf-8";
body { background-color:#0099FF;}
.botao {	
	margin:5px 3px;
	padding: 1px 6px;
	border: outset;
	cursor:crosshair;
	background-color:#FFFFFF;
	opacity: 0.8;
}
.botao:hover{opacity: 0.5;}
.botao_pressed{
	cursor:default;
	margin:5px 3px;
	padding: 1px 6px;
	border: inset;
}
#tabela tr{cursor: crosshair;}
#tabela td{padding:10px;}
